<div class="span-16 disclaimer">
<h5 class="note">D&eacute;gagement de responsabilit&eacute;s :</h5>	
	<p class="petit note">
	 CombienJeTelecharge.com est une application &eacute;crite pour et par des clients de Vid&eacute;otron. Vid&eacute;otron n&#x27;entretient aucune autre relation avec les auteurs de CombienJeTelecharge.com. Vid&eacute;otron est une marque de commerce de Qu&eacute;becor M&eacute;dia.
	</p>
</div>
</body>
</html>