<%= include('views/_header.erb')%>
<div class="log span-6">
	<p>
	<%if id %>
	<a href="/logout">Se d&eacute;connecter</a>
	<%else%>
	<a href="/login">S'identifier</a>
	<%end%>
	</p>
</div>		
<div class="span-8 rightcol blue">
	<h3>S'identifier</h3>
	<form action="/login" method="post">
		  <label for="email">Email:</label>   
		  <input id="user_email" name="email" size=30 type="text" />
		  <label for="password">Password:</label> 
		  <input id="user_password" name="password" size=30 type="password" />
		  <input value="Envoyer" type="submit" />
	</form>
</div>
<script type="text/javascript" charset="utf-8">
	$("input[type='text']:first", document.forms[0]).focus();
</script>
<%= include('views/_footer.erb')%>













