<form action="/signup" method="post">
  	<label for="email">Email:</label>   
	<input id="user_email" name="email" size=30 type="text" />
    <label for="password">Password: 
	<input id="user_password" name="password" size=30 type="password" />
  	<label for="confirm">Confirm:</label> 
	<input id="user_password_confirmation" name="password_confirmation" size=30 type="password" />
  	<label for="nomutilisateur">Nom d'utilisateur Videotron:</label>
	<input type="text" name="videotron" value="" id="user_videotron"/>
	<lable for="choixforfait">Choisissez votre forfait :</lable>
	<select name="forfait">
	<% forfaits.each do |key,forfait| %>
		<option value="<%= key %>"><%= forfait['name'] %></option>
	<% end %>
	</select>
	
  <input value="sign up" type="submit" />
</form>
