<form action="/signup" method="post">
  email:   
	<input id="user_email" name="email" size=30 type="text" /><br />
  password: 
	<input id="user_password" name="password" size=30 type="password" /> <br />
  confirm: 
	<input id="user_password_confirmation" name="password_confirmation" size=30 type="password" /> <br/>
  nom d'utilisateur Videotron:
	<input type="text" name="videotron" value="" id="user_videotron"/>
	<br />
	Choisissez votre forfait :<br/>
	<select name="forfait">
	<% forfaits.each do |key,forfait| %>
		<option value="<%= key %>"><%= forfait['name'] %></option>
	<% end %>
	</select>
	<br/>
	
  <input value="sign up" type="submit" />
</form>
